.vscode/settings.json

# skip the python virtual environment
space_packet_module/build/*
__pycache__
*.egg-info
space_packet_sender
space_packet_sender
build/*

# ignore the executable
src/spprx
src/spptx
src/spptxpipe